<!DOCTYPE html>
<html lang="en">
<head>
<title>Red Panda Apps</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/images/red_panda.png">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
</style>
</head>
<body>
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-deep-orange w3-card-2 w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-deep-orange" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/index.html" class="w3-bar-item w3-button w3-padding-normal w3-white">
	<img src="/images/logos/red_panda.png" alt="Red Panda Apps logo" style="float:left;height:1.95em"></a>
    <div class="w3-dropdown-hover"><a href="apps.html" class="w3-button w3-hide-small w3-padding-large w3-hover-white">Apps</a>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="/extensions.html" class="w3-bar-item w3-button">Extensions</a>
            <a href="/snippets.html" class="w3-bar-item w3-button">Snippets</a>
            <a href="/links.html" class="w3-bar-item w3-button">Links</a>
        </div>
    </div>
    <a href="/3dp.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">3D Printing</a>
    <a href="/other.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Other Projects</a>
    <a href="/about.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About Me</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/apps.html" class="w3-bar-item w3-button w3-padding-large">Apps</a>
    <a href="/3dp.html" class="w3-bar-item w3-button w3-padding-large">3D Printing</a>
    <a href="/other.html" class="w3-bar-item w3-button w3-padding-large">Other Projects</a>
    <a href="/about.html" class="w3-bar-item w3-button w3-padding-large">About Me</a>
  </div>
</div>

{{ content }}

<div class="w3-container">
    <!--Ads go here-->
</div>

<!-- Footer -->
<footer class="w3-container w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <a href="https://github.com/10MINT"><i class="fa fa-github w3-hover-opacity"></i></a>
    <a href="https://community.thunkable.com/u/Red_Panda/summary"><img src="/images/logos/thunkable_black.png" height="25em" class="w3-hover-opacity"></a>
	<a href="https://community.kodular.io/u/Red_Panda/summary"><img src="/images/logos/kodular_black.png" height="23em" class="w3-hover-opacity"></a>
    <a href="https://play.google.com/store/apps/developer?id=Red+Panda+Apps"><i class="fa fa-android w3-hover-opacity"></i></a>
    <a href="https://thingiverse.com/reverselayup/about"><img src="/images/logos/thingiverse_black.png" height="24em" class="w3-hover-opacity"></a>
    <a href="https://twitter.com/redpandadevs"><i class="fa fa-twitter w3-hover-opacity"></i></a>
    <a href="mailto:redpandadevs@gmail.com"><i class="fa fa-at w3-hover-opacity"></i></a>
 </div>
 <p>&copy; Red Panda Apps. All rights reserved. | Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
 <p>Android™, Google Play and the Google Play logo are trademarks of Google LLC.</p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

<!-- 2. Include library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>

<!-- 3. Instantiate clipboard by passing a list of HTML elements -->
<script>
var btns = document.querySelectorAll('button');
var clipboard = new ClipboardJS(btns);
clipboard.on('success', function(e) {
    console.log(e);
});
clipboard.on('error', function(e) {
    console.log(e);
});
</script>

</body>
</html>